<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>


<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
  <ul class="navbar-nav mi-navbar">
    <li class="nav-item active">
      <a class="nav-link" href="/">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Iniciar Sesion</a>
    </li> 
  </ul>
</nav>

<!--<div>
  <table class = "tablas">
      <tr>
      <td align="right">  <i class="material-icons" style="font-size:36px">add_shopping_cart</i></td>
        <td id="mat"> Publishes and Sells</td>
        <td> Adquisiciones al alcance de su bolsillo</td>
        <td> <a href="/login">SIGN IN</a> </td> 
      </tr> 
  </table>
</div>-->


<div class="container">
  <div class="row">
    <div class="col-11">
      <h2 class="h2">ALIE STORAGE</h2>
    </div>
    <div class="col-1">
        <a href="/signup">Sign up</a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2 class="h2">Misión</h2>
      Somos una empresa intermediaria entre usuarios que desean tener un espacio de almacenamiento en la nube de forma rapida y eficaz.        
   
    </div>
    <div class="col">
        <h2 class="h2">visión</h2>
         Distribuir productos de forma segura y rapida a los usuarios, buscando que los usuarios siempre queden satisfechos 
         para que muy pronto podamos expandirnos a nivel mundial.            
        
    </div>
    <div class="col">
        <h2 class="h2">About me</h2>
        Mi nombre es Carlos Orantes soy un Estudiante de la Facultad de Ingenieria de la universidad de San carlos.
        
    </div>
  </div>
</div>


</body>
</html>